@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Quicksand|Abril+Fatface|Abel|Prata';
   
h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
      typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 15% } /* width of h1 */
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
    
  15% { border-color: white; }
}    
 
    
body {
    background-color: #bb1e29;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    background-blend-mode:overlay;
    background: linear-gradient(to bottom right, pink, #99b8e0);
}

h1 {
  font-size: 2.6em;
  text-align: center;
  color: white;
 
  font-family: Abel, sans-serif;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 5px;
  position: relative;
  width: 20%;
  display: block;
  /* filter: drop-shadow(7px 7px 6px rgba(0,0,0.9)); */
  float: center;
    /* adds outline to text 
  text-shadow:
    -2px -2px 0 #FEFEFE,
    2px -2px 0 #FEFEFE,
    -2px 2px 0 #FEFEFE,
    2px 2px 0 #FEFEFE; */
}

.container-fluid {
  text-align: center;
  margin: auto; 
  padding: 10px;
  }

.logo {
    width: 20%;
    height: auto;
    margin-left: 0%;
    display: inline-block;
}

ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -10px;
   /* list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #FFCBA4 ;
    display: inline;
    position: fixed;
    float: left;
    
    overflow: auto; */
}
li {
  float: left;
}

li a {
    display: block;
    color: black;
    padding: 20px 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

li a.active {
    background-color: black;
    opacity: 0.6;
    color: white;
}

li a:hover:not(.active) {
    
    text-decoration-line: overline;
    color: #002b80;
}

.boxed {
  
  text-align: center;
  color: white;
  float:center;
  margin-top: 20px; 
  background: white;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  
}

h2 {
  font-family: Quicksand, sans-serif;
  text-align: left;
  letter-spacing: 1px;
  display: block;
  color: black;
  background-color:  #ffb3b3;
  margin-left: 50px;
  padding: 20px;
}

p {
  font-family: Abel, sans-serif;
  font-size: 1.5em;
  color: white;
width: 15%;
    padding: 0.5%;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 16.2%;
    border: 2px solid white;
    border-radius: 300px;
    text-decoration: none;
}
      
      p a {
          color: white;
      }
      
      p:hover {
          background-color: ;
          color: white;
          
      }
      
      
      p a:hover {
        color: white;
        text-decoration: none;
      }

      /* mobile/tablet */
    @media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
        
        h1 {
            font-size: 1.5em;
            width: 20%;
            margin-top: 50%;
        }
        
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% } /* width of h1 */
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
    
  20% { border-color: black; }
}   
        
        p {
            width: 20%;
        }
      }

footer {
    
    font-size: 1.3em;
    text-align: right;
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    margin: 0% -8px 0px -8px;
    padding: 3%;
    font-family: Abel, sans-serif;
    color: white;
    background-color: #3498db;
}
}