body {
  margin: 0px;
  font-family: sans-serif;
}

#sidebar {
  background-color: yellow;
  background: linear-gradient(to bottom right, pink, #99b8e0);
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 20vw;
  text-align: center;
  
}

#chat-window {
  background-color: white;
  position: absolute;
  left: 20vw;
  top: 0px;
  height: 100vh;
  width: 80vw;
  float: right;
  border-left: 1px solid black;
}

#chat-header {
  background: linear-gradient(to bottom right, pink, #99b8e0);
  color: black;
  background-blend-mode: overlay;
  padding: 15px 30px;
  font-weight: bold;
  width: 80vw;
  
}

div.chat-selector {
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

div.chat-selector:hover {
  background-color: grey;
}

#compose-form {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px;
}

.me {
  font-weight: bold;
}

.them {
  font-style: italic;
}
